body.plasmo-floating-timer-show,
body.plasmo-floating-timer-show * {
  max-width: 100dvh;
  max-height: 100dvh;
}

#plasmo-floating-timer {
  position: fixed;
  z-index: 240;
  top: 1rem;
  left: 1rem;
}
